<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!--
        Android 11+のパッケージ可視性フィルタ対策。これが無いと CustomTabsClient の
        resolveActivity / resolveService が常に空を返し、Chromeのバージョンに関わらず
        getPackageName が null、isAuthTabSupported が false になる。
        androidx.browser のAARはこの宣言を持たないため、アプリ側で宣言する必要がある。
    -->
    <queries>
        <!-- 既定ブラウザの解決 -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <!-- Custom Tabs / Auth Tab の対応可否の判定 -->
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
    </queries>

    <application
        android:name="jp.kztproject.rewardedtodo.MyApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:node="replace"
        android:theme="@style/AppTheme">
        <activity android:name="jp.kztproject.rewardedtodo.presentation.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
