name: Android Lint

on:
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  lint:
    name: Run Android Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up JDK
        uses: ./.github/actions/setup-java

      - name: Run Android Lint
        run: ./gradlew lintDebug
