name: Detekt

on:
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  detekt:
    name: Run Detekt
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up JDK
        uses: ./.github/actions/setup-java

      - name: Run Detekt
        run: ./gradlew detekt
