name: reviewdog-suggester

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  kotlin:
    name: runner / suggester / spotless
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: ./.github/actions/setup-java
        with:
          cache: ''
      - run: git fetch origin main
      - run: ./gradlew spotlessKotlinApply
      - uses: reviewdog/action-suggester@aa38384ceb608d00f84b4690cacc83a5aba307ff # v1.24.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tool_name: spotless
      - run: ./gradlew spotlessKotlinCheck
