name: screenshot-comparison

on:
  pull_request:
    branches: [ main, master, develop, feature/adjust-screenshot ]

jobs:
  screenshot-comparison:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up JDK
        uses: ./.github/actions/setup-java

      - name: Setup Gradle
        uses: ./.github/actions/setup-gradle

      - name: Setup Android SDK
        uses: android-actions/setup-android@9fc6c4e9069bf8d3d10b2204b1fb8f6ef7065407 # v3.2.2

      - name: Download reference images
        uses: dawidd6/action-download-artifact@fe9d59ce33ce92db8a6ac90b2c8be6b6d90417c8 # v15
        with:
          name: expected_screenshots
          path: app/screenshots
          workflow: upload_expected_image.yml
          branch: ${{ github.base_ref }}

      - name: Run screenshot tests
        run: ./gradlew compareRoborazziDebug

      - name: Upload comparison results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: screenshot-diff-reports
          path: |
            **/reports
            **/build/outputs/roborazzi
          retention-days: 30

      - name: Save PR number for comment
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          mkdir -p ./pr
          echo ${{ github.event.number }} > ./pr/NR
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: pr
          path: pr/
