name: Build

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

    - name: Set up JDK 17
      uses: ./.github/actions/setup-java

    - name: Setup Gradle
      uses: ./.github/actions/setup-gradle

    - name: Download Dependencies
      run: ./gradlew androidDependencies

    - name: Run Tests
      run: ./gradlew testDebugUnitTest

    - name: Upload test results
      if: always()
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
      with:
        name: test-results
        path: |
          **/build/reports/tests/testDebugUnitTest/
