name: Build

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - name: Set up JDK 17
      uses: ./.github/actions/setup-java

    - name: Setup Gradle
      uses: ./.github/actions/setup-gradle

    - name: Download Dependencies
      run: ./gradlew androidDependencies

    - name: Run Tests
      run: ./gradlew testDebugUnitTest

    - name: Upload test results
      if: always()
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
      with:
        name: test-results
        path: |
          **/build/reports/tests/testDebugUnitTest/
