name: Upload expected image

on:
  push:
    branches:
      - master
      - main

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  upload-expected-image:
    runs-on: ubuntu-latest

    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Set up JDK 17
        uses: ./.github/actions/setup-java

      - name: Setup Gradle
        uses: ./.github/actions/setup-gradle

      - name: Setup Android SDK
        uses: android-actions/setup-android@9fc6c4e9069bf8d3d10b2204b1fb8f6ef7065407 # v3.2.2

      - name: Create screenshots
        run: |
          # Create screenshots
          ./gradlew recordRoborazziDebug

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: expected_screenshots
          path: app/screenshots/*
